body {
 background: #282537;
 background-image: -webkit-radial-gradient(top, circle cover, #18181b 0%, #252233 80%);
 background-image: -moz-radial-gradient(top, circle cover, #18181b 0%, #252233 80%);
 background-image: -o-radial-gradient(top, circle cover, #18181b 0%, #252233 80%);
 background-image: radial-gradient(top, circle cover, #18181b 0%, #252233 80%);
}
/* ---------------------- Range Input ----------------- */

.range-wrap {
  position: relative;
  margin: 0 auto;
  top: 50px;
  display: block;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}
.range-wrap {
  width: 500px;
  position: relative;
}
.range-value {
  position: absolute;
  top: -50%;
}
.range-value span {
  width: 53px;
  height: 35px;
  line-height: 37px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 28px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
  bottom: -23px;
  font-family: sans-serif;
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

/*-- cards ----*/
/*CSS Grid is my favorite. <3 Much easier to handle content with minmax.*/
.swapi-cards {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 5px 50px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.person {
  background-color: gainsboro;
  color: white;
  font-family: monospace;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 6px 0px rgba(50, 50, 50, 0.27);
  -moz-box-shadow:    4px 3px 6px 0px rgba(50, 50, 50, 0.27);
  box-shadow: -1px -3px 20px 0px rgb(72, 56, 92);
}

.swapi-content {
    background-color: white;
    color: black;
    min-height: 75px;
    display: flow-root;
    border-radius: 10px;
}

.swapi-prop {
    padding: 5px;
    margin: 0;
    background-color: #f7f7f7;
}